/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #6e93f7;
  border-radius: 12px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #4070f4;
}

/* navbar styling */
nav {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: 'Ubuntu', sans-serif;
}

nav.sticky {
  background: #4070f4;
  padding: 13px 0;
}

nav .navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

nav .navbar .logo a {
  font-weight: 500;
  font-size: 35px;
  color: #4070f4;
}

nav.sticky .navbar .logo a {
  color: #fff;
}

nav .navbar .menu {
  display: flex;
  position: relative;
}

nav .navbar .menu li {
  list-style: none;
  margin: 0 8px;
}

.navbar .menu a {
  font-size: 18px;
  font-weight: 500;
  color: #0E2431;
  padding: 6px 0;
  transition: all 0.4s ease;
}

.navbar .menu a:hover {
  color: #4070f4;
}

nav.sticky .menu a {
  color: #FFF;
}

nav.sticky .menu a:hover {
  color: #0E2431;
}

.navbar .media-icons a {
  color: #4070f4;
  font-size: 18px;
  margin: 0 6px;
}

nav.sticky .media-icons a {
  color: #FFF;
}

/* Side Navigation Menu Button CSS */
nav .menu-btn,
.navbar .menu .cancel-btn {
  position: absolute;
  color: #fff;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}

nav .menu-btn {
  color: #4070f4;
}

nav.sticky .menu-btn {
  color: #FFF;
}

.navbar .menu .menu-btn {
  color: #fff;
}

/* Home Section Styles */
.home {
  background-color: #f2f2f2;
  padding: 60px;
}

.home-content {
  display: flex;
  margin-top: 100px;
  align-items: center;
}

.text {
  flex: 1;
  text-align: left;
  margin-right: 10px; /* Added margin to create space between text and image */
}

.text-wrapper {
  margin-bottom: 20px;
}

.text-one {
  font-size: 30px;
  color: #333;
}

.text-two {
  font-size: 58px;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
}

.text-three {
  font-size: 40px;
  color: #555;
  margin-bottom: 10px;
}

.text-four {
  font-size: 30px;
  color: #555;
}
img {
  max-width: 100%; /* Ensures the image fits within the container */
  height: auto; /* Allows the image to maintain its aspect ratio */
  border-radius: 50%;
}
.image {
  flex: 1;
  text-align: left; /* Changed to left alignment for consistency */
  margin-left: 20px; /* Added margin to create space between text and image */
}

.home .button {
  margin: 14px 0;
}

.home .button button {
  outline: none;
  padding: 8px 5px;
  border-radius: 6px;
  font-size: 25px;
  font-weight: 400;
  background: #4070f4;
  color: #fff;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}

.home .button button:hover {
  border-color: #4070f4;
  background-color: #fff;
  color: #4070f4;
}

/* Common Styling for Sections */

section .title {
  margin: 30px 0;
  font-size: 24px;
  font-weight: bold;
}

section .title span {
  color: #0E2431;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}

section .title span::before,
section .title span::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #4070f4;
  left: 0;
  bottom: 0;
}

section .title span::after {
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}

section .topic {
  justify-content: center;
  color: #0E2431;
  font-size: 25px;
  /* font-weight: 500; */
  margin-bottom: 10px;
}

/* About Section Styles */

.about {
  padding: 50px 0;
  background-color: #f5f5f5;
}

/* .about-content {
  max-width: 900px;
  margin: 0 auto;
} */

.title {
  text-align: center;
  margin-bottom: 30px;
}

.about-details {
  max-width: 75%;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about .button button {
  outline: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 25px;
  font-weight: 400;
  background: #4070f4;
  color: #fff;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}

.about .button button:hover {
  border-color: #4070f4;
  background-color: #fff;
  color: #4070f4;
}

/* Educational Background Section */
.educational-background {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 50px;
}

.educational-background h1 {
  text-align: center;
  margin-bottom: 30px;
}

.educational-background ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.educational-background li {
  margin-bottom: 20px;
}

.educational-background .degree {
  font-weight: bold;
}

.educational-background .institution {
  color: #555555;
}

.educational-background .year {
  color: #777777;
}


/* Skills Section Styles */

#skills {
  text-align: center;
  background-color: #f2f2f2;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill {
  width: 300px;
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.skill i {
  font-size: 48px;
  margin-bottom: 10px;
  color: #007bff;
}

.skill h3 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #333333;
}

.skill p {
  font-size: 16px;
  color: #666666;
}

/* Project Section Styles */
#projects {
  background-color: #f5f5f5;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-project{
  width: 100%;
  max-width: 65%;
  margin: 20px ;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project {
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.project ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.project ul li {
  margin-bottom: 10px;
  list-style: disc;
}

.project a {
  display: inline-block;
  margin-top: 10px;
}

/* Achievements Tab */

#achievements {
  text-align: center;
  background-color: #f2f2f2;
}

.achievement-container {
  max-width: 800px;
  margin: 0 auto;
}

p {
  font-size: 18px;
  color: #666666;
  margin-bottom: 20px;
}

.achievement {
  margin-bottom: 40px;
}

.achievement i {
  font-size: 40px;
  color: #007bff;
  margin-bottom: 20px;
}

.achievement h3 {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 10px;
}

/* Social profiles */

.social-profiles {
  margin-top: 40px;
}

.social-profiles h3 {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 20px;
}

.social-profiles ul {
  list-style: none;
  padding: 0;
}

.social-profiles li {
  display: inline-block;
  margin-right: 10px;
}

.social-profiles a {
  font-size: 24px;
  color: #007bff;
}

/* Contact Tab */
#contact {
  text-align: center;
  padding: 50px 0;
  background-color: #f2f2f2;
}

.contact-container {
  display: flex;
  justify-content: center;
}

/* Contact form */

form {
  width: 400px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  outline: none;
}

.contact .button button {
  outline: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 25px;
  font-weight: 400;
  background: #4070f4;
  color: #fff;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}

.contact .button button:hover {
  border-color: #4070f4;
  background-color: #fff;
  color: #4070f4;
}



/* Footer CSS */
footer {
  background: #4070f4;
  padding: 15px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

footer .text span {
  font-size: 17px;
  font-weight: 400;
  color: #fff;
}

footer .text span a {
  font-weight: 500;
  color: #FFF;
}

footer .text span a:hover {
  text-decoration: underline;
}

/* Scroll TO Top Button CSS */
.scroll-button a {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #4070f4;
  padding: 7px 12px;
  
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
  display: none;
}

/* Responsive Media Query */
@media (max-width: 1190px) {
  section .content {
    width: 85%;
  }
}
@media (max-width: 750px) {
  nav .navbar {
    width: 90%;
  }

  nav .navbar .menu {
    position: fixed;
    left: -100%;
    top: 0;
    background: #0E2431;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }

  .navbar.active .menu {
    left: 0;
  }

  nav .navbar .menu a {
    font-size: 23px;
    display: block;
    color: #fff;
    margin: 10px 0;
  }

  nav.sticky .menu a:hover {
    color: #4070f4;
  }

  nav .navbar .media-icons {
    display: none;
  }

  nav .menu-btn,
  .navbar .menu .cancel-btn {
    display: block;
  }

  .home .text-two {
    font-size: 65px;
  }

  .home .text-three {
    font-size: 35px;
  }
}

@media screen and (max-width: 500px) {
  .image {
    text-align: left;
    margin-bottom: 0;
    min-width: 150px;
  }
  .home .text-two {
    font-size: 35px;
  }

  .home .text-three {
    font-size: 25px;
  }
}
@media screen and (max-width: 360px) {
  .image {
    text-align: left;
    margin-bottom: 0;
    min-width: 100px;
    margin-left: 0px;
  }
  .home .text-two {
    font-size: 20px;
  }

  .home .text-three {
    font-size: 12px;
  }
}

@media screen and (max-width: 925px) {
  .about-content {
    padding: 30px 25px;
  }
  .educational-background{
    padding: 15px 60px;
  }
}
@media screen and (max-width: 450px) {
  .educational-background{
    padding: 15px 15px;
  }
}
@media (max-width: 500px) {
  .skills-details .boxes .per {
    font-size: 50px;
    color: #4070f4;
  }
}
@media screen and (min-width: 768px) {
  .projects-container {
    @media screen and (min-width: 992px) {
      .project {
        width: calc(50% - 40px);
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .main-project{
  width: 100%;
  max-width: 400px;
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}